<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--    <link rel="stylesheet" href="bootstrap-5.1.-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-5.1.-dist/js/bootstrap.bundle.min.js"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/bootstrap.bundle.min.js">
    <title>Ejercicio 3: Columnas</title>
</head>
<body>
  

<section>
    <div class="container " >
<div class="row " >
<div class="col-xxl-10 col-xs-5 col-sm-6 col-md-7 col-lg-8 col-xl-9 " style="background-color:#5DADE2" >

<h1 class="text-white">Corbatas & Corbatines</h1>
<img class="img-fluid p-1 pb-3" style="width:150%"src="img/a2.jpg">

</div>

<div class="col-xxl-2 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3" style="background-color:#3498DB ">
<h2 class="text-white">Descripci&oacuten</h2>
<p class="p-1 ">En estas fotografias podemos ver al modelo Ricardo luciendo corbatas y corbatines para los looks formales e informales.<br>
Fotografia 1: corbata clasica con un estampado a cuadritos blancos y negros, cuello es elastizado para su facil colocación.<br>
Fotografia 2: corbatin rojo con lunares blancos, cuello rigido con boton de cierre.<br>
Fotografia 3: corbatin rojo tuxedo blanco con botones rojo.<br>
Fotografia 4: corbata clasica negra con cuello elastizado y ajuste de boton.<br>
Fotografia 5: corbata san valentin, roja con corazones blancos. <br>
Fotografia 6: corbatin clasico negro con cuello elastizado. <br>
*El tamaño de las corbatas varia entre doce y diecisiete centímetros , mientras que los corbatines entre diez y quince centrimetros.</p>
</div>    
</div>

<hr>
</section>
<div class="container">
    <div class="row">
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 p-3" style="background-color:#5DADE2">
          <p class="p-1 ">En estas fotografias podemos ver al modelo Ricardo luciendo corbatas y corbatines para los looks formales e informales.<br>
            Fotografia 1: corbata clasica con un estampado a cuadritos blancos y negros, cuello es elastizado para su facil colocación.<br>
            Fotografia 2: corbatin rojo con lunares blancos, cuello rigido con boton de cierre.<br>
            Fotografia 3: corbatin rojo tuxedo blanco con botones rojo.<br>
            Fotografia 4: corbata clasica negra con cuello elastizado y ajuste de boton.<br>
            Fotografia 5: corbata san valentin, roja con corazones blancos. <br>
            Fotografia 6: corbatin clasico negro con cuello elastizado. <br>
            *El tamaño de las corbatas varia entre doce y diecisiete centímetros , mientras que los corbatines entre diez y quince centrimetros.</p> </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 p-3" style="background-color:#3498DB ">
          <p class="p-1 ">En estas fotografias podemos ver al modelo Ricardo luciendo corbatas y corbatines para los looks formales e informales.<br>
            Fotografia 1: corbata clasica con un estampado a cuadritos blancos y negros, cuello es elastizado para su facil colocación.<br>
            Fotografia 2: corbatin rojo con lunares blancos, cuello rigido con boton de cierre.<br>
            Fotografia 3: corbatin rojo tuxedo blanco con botones rojo.<br>
            Fotografia 4: corbata clasica negra con cuello elastizado y ajuste de boton.<br>
            Fotografia 5: corbata san valentin, roja con corazones blancos. <br>
            Fotografia 6: corbatin clasico negro con cuello elastizado. <br>
            *El tamaño de las corbatas varia entre doce y diecisiete centímetros , mientras que los corbatines entre diez y quince centrimetros.</p> </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 p-3" style="background-color:#2E86C1">
          <p class="p-1 ">En estas fotografias podemos ver al modelo Ricardo luciendo corbatas y corbatines para los looks formales e informales.<br>
            Fotografia 1: corbata clasica con un estampado a cuadritos blancos y negros, cuello es elastizado para su facil colocación.<br>
            Fotografia 2: corbatin rojo con lunares blancos, cuello rigido con boton de cierre.<br>
            Fotografia 3: corbatin rojo tuxedo blanco con botones rojo.<br>
            Fotografia 4: corbata clasica negra con cuello elastizado y ajuste de boton.<br>
            Fotografia 5: corbata san valentin, roja con corazones blancos. <br>
            Fotografia 6: corbatin clasico negro con cuello elastizado. <br>
            *El tamaño de las corbatas varia entre doce y diecisiete centímetros , mientras que los corbatines entre diez y quince centrimetros.</p> </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 p-3" style="background-color:#2874A6 ">
          <p class="p-1 ">En estas fotografias podemos ver al modelo Ricardo luciendo corbatas y corbatines para los looks formales e informales.<br>
            Fotografia 1: corbata clasica con un estampado a cuadritos blancos y negros, cuello es elastizado para su facil colocación.<br>
            Fotografia 2: corbatin rojo con lunares blancos, cuello rigido con boton de cierre.<br>
            Fotografia 3: corbatin rojo tuxedo blanco con botones rojo.<br>
            Fotografia 4: corbata clasica negra con cuello elastizado y ajuste de boton.<br>
            Fotografia 5: corbata san valentin, roja con corazones blancos. <br>
            Fotografia 6: corbatin clasico negro con cuello elastizado. <br>
            *El tamaño de las corbatas varia entre doce y diecisiete centímetros , mientras que los corbatines entre diez y quince centrimetros.</p></div>
    </div>



    <a href='index.html'>Volver a Ejercicio 0<a> <br> <a href='ejercicio11.html'>Volver a Ejercicio Final<a></a>
</div>




</body>
</html>